# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
public/videos/checkpoints.mp4
public/videos/decomisos.mp4
public/videos/despacho.mp4
public/videos/pdf.mp4
public/videos/precintos.mp4
public/videos/precintosmaquila.mp4
public/videos/recepcion.mp4
.gitignore
